* text=auto eol=lf

.gitattributes         export-ignore
.gitignore             export-ignore

*.cs     text eol=lf diff=csharp
*.md     text eol=lf diff=markdown

*.sln       merge=binary
*.csproj    merge=binary
